<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{163,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,40}}</string>
                <key>sourceSize</key>
                <string>{163,40}</string>
            </dict>
            <key>explosion_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,2},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{2,2}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>explosion_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{9,2},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{8,8}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>explosion_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{12,12}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>explosion_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,2},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{16,16}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>explosion_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,2},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{22,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>explosion_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,2},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{26,26}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>explosion_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,2},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>explosion_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,2},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>explosion_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,2},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>explosion_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,2},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>explosion_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-14.5,14.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>ship_astro_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{20,14}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{36,14}</string>
            </dict>
            <key>ship_astro_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{30,14}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{30,14}}</string>
                <key>sourceSize</key>
                <string>{36,14}</string>
            </dict>
            <key>ship_astro_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,2},{36,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,14}}</string>
                <key>sourceSize</key>
                <string>{36,14}</string>
            </dict>
            <key>ship_menu_astro.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,34},{59,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,42}}</string>
                <key>sourceSize</key>
                <string>{59,42}</string>
            </dict>
            <key>ship_menu_raptor.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,34},{59,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,42}}</string>
                <key>sourceSize</key>
                <string>{59,42}</string>
            </dict>
            <key>ship_menu_viking.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,34},{68,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,42}}</string>
                <key>sourceSize</key>
                <string>{68,42}</string>
            </dict>
            <key>ship_raptor_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{21,14}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{21,14}}</string>
                <key>sourceSize</key>
                <string>{33,14}</string>
            </dict>
            <key>ship_raptor_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,2},{27,14}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{27,14}}</string>
                <key>sourceSize</key>
                <string>{33,14}</string>
            </dict>
            <key>ship_raptor_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{33,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,14}}</string>
                <key>sourceSize</key>
                <string>{33,14}</string>
            </dict>
            <key>ship_viking_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,2},{23,14}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{23,14}}</string>
                <key>sourceSize</key>
                <string>{39,14}</string>
            </dict>
            <key>ship_viking_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{33,14}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{33,14}}</string>
                <key>sourceSize</key>
                <string>{39,14}</string>
            </dict>
            <key>ship_viking_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,2},{39,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,14}}</string>
                <key>sourceSize</key>
                <string>{39,14}</string>
            </dict>
            <key>system_menu_sol.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,78},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{638,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{638,100}}</string>
                <key>sourceSize</key>
                <string>{640,100}</string>
            </dict>
            <key>username_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,34},{370,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,40}}</string>
                <key>sourceSize</key>
                <string>{370,40}</string>
            </dict>
            <key>weapon_torpedo_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,2},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{12,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>weapon_torpedo_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{10,10}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>weapon_torpedo_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{12,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>weapon_torpedo_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,2},{10,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{10,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>weapon_torpedo_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,2},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{12,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>weapon_torpedo_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,2},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{12,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>weapon_torpedo_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,2},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{10,10}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>weapon_torpedo_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,2},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{12,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>weapon_torpedo_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,2},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{10,10}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>weapon_torpedo_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{12,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>weapon_torpedo_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{10,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{10,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>weapon_torpedo_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,2},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{12,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>weapon_torpedo_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,2},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{12,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>weapon_torpedo_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,2},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{10,10}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>weapon_torpedo_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{12,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>weapon_torpedo_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,2},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{10,10}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>weapon_torpedo_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{12,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>weapon_torpedo_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{10,10}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>weapon_torpedo_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,2},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{12,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spritesheet.png</string>
            <key>size</key>
            <string>{782,218}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f73cc0e2b350d61e463f06fad25770ff:9575713f7668b4da53e5d59b63685f21:1de88c2a7237d4cdf78de8d8ad4f4c7e$</string>
            <key>textureFileName</key>
            <string>spritesheet.png</string>
        </dict>
    </dict>
</plist>
