<p>
  game works! current question {{currentQuestion}}
</p>


<button (click)="printQuestionObject()">print the questions</button>
<div *ngIf="isClicked">
  <div>
    <p> {{ singleobj.question_text }}</p>
    <button (click)="!answerclicked? checkAnswer($event,'option_a') : null"> {{ singleobj.option_a }}</button>
    <button (click)="!answerclicked? checkAnswer($event,'option_b') : null"> {{ singleobj.option_b }}</button>
    <button (click)="!answerclicked? checkAnswer($event,'option_c') : null"> {{ singleobj.option_c }}</button>
    <button (click)="!answerclicked? checkAnswer($event,'option_d') : null"> {{ singleobj.option_d }}</button>
  </div>
</div>