
<div class="row">
  <div class="col-xs-12" style="padding-top:50px;">
    <div class="row">
      <div class="col-xs-4"></div>
      <div class="col-xs-4">
        <form>
          <div class="form-group">
            <label for="username" >Username</label>
            <input type="text" name="username" id="username" [(ngModel)]="username" class="form-control">
          </div>
          <div class="form-group">
            <label for="email" >Email Id</label>
            <input type="text" name="email" id="email" [(ngModel)]="email" class="form-control">
          </div>
          <div class="form-group">
            <label for="mobile" >Mobile Number</label>
            <input type="text" name="mobile" id="mobile" [(ngModel)]="mobile" class="form-control">
          </div>
          <button class="btn btn-primary" type="submit">Submit</button>


        </form>
   {{ username }}
      </div>
    </div>
  </div>
</div>

<h1>Angular2 Social login</h1>{{status}}
              <button (click)="signIn('google')">google</button>
              <button (click)="signIn('linkedin')">linkedIn</button>
              <button (click)="signIn('facebook')">facebook</button>
              <button (click)="logout()">logout</button>
              <div *ngIf="user">
                <table>
                  <tr>
                    <td>Name:</td>
                    <td>{{user.name}}</td>
                  </tr>
                  <tr>
                    <td>Email</td>
                    <td>{{user.email}}</td>
                  </tr>
                  <tr>
                    <td>UID</td>
                    <td>{{user.uid}}</td>
                  </tr>
                  <tr>
                    <td>Provider</td>
                    <td>{{user.provider}}</td>
                  </tr>
                  <tr>
                    <td>Image</td>
                    <td>{{user.image}}</td>
                  </tr>
                </table>
              </div>

